#quoteContainer {
    background-color: #e66a8e;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%; /* Allow it to take full width */
    height: auto; /* Make sure the container auto-adjusts height based on content */
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align items horizontally */
}

.quoteContent {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    width: 100%;
    margin-bottom: 10px; /* Space between content and audio */
}

#quoteImage {
    border-radius: 5px;
    flex-shrink: 0; /* Ensure the image stays at the size defined and doesn't shrink */
}

#quoteDisplay {
    white-space: pre-line; /* Allows the text to break into new lines */
}

#authorDisplay {
    text-align: right;
    font-style: italic;
}

audio {
    width: 100%; /* Make the audio player full width */
}
